{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = 'http://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'>
    <link rel = 'stylesheet' href = 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css' integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel = 'stylesheet' href = "{% static 'style.css' %}">
    <title>Portfolio page</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Welcome, {{user.username}}</h1>
    {% else %}
    <h1>Welcome, guest</h1>
    {% endif %}
    <header>
    {% if user.is_authenticated %}
    <a href = 'logout'>Logout</a>
    {% else %}
    <a href = 'login'>Login or SignUp</a>
    {% endif %}
        {% for feature in features %}

        <div class = 'logo'>
            Aspiring data Scientist {{feature.name}}
            {% if feature.is_true == True %}
            <p>This feature is True</p>
            {% elif feature.is_true == False %}
            <p>Tis feature is False</p>
            {% endif %}
            {% if feature.name == 'yolo' %}
            <p>Hi</p>
            {% endif %}

        </div>

        {% endfor %}

        {% for message in messages %}
    <div class="message {{ message.tags }}">
        {{ message }}
    </div>
        {% endfor %}
        <button class = 'nav-toggle' aria-label="toggle navigation">
            <span class = 'hamburger'></span>
        </button>
        <nav class = 'nav'>
            <ul class = 'nav__list'>
                <li class = 'nav__item'><a href = '#home' class = 'nav__link'>Home</a></li>
                <li class = 'nav__item'><a href = '#services' class = 'nav__link'>My Services</a></li>
                <li class = 'nav__item'><a href = '#about' class = 'nav__link'>About Me</a></li>
                <li class = 'nav__item'><a href = '#work' class = 'nav__link'>My Work</a></li>
            </ul>
        </nav>
    </header>

    <section class = 'intro' id = 'home'>
        <h1 class = 'section__title section__title--intro'>
            Hi, I am <strong>Anthony Hermanto</strong>
        </h1>
        <p class = 'section__subtitle section__subtitle--intro'>
            Aspiring Data Scientist
        </p>
        <img src = "{% static 'Anthony.jpg' %}" alt = 'Picture of Anthony' class = 'intro__image' id = 'image1'>
    </section>

    <section class = 'my-services' id = 'services'>
        <h2 class = 'section__title section__title--services'>What I do</h2>
        <div class = 'services'>

            <div class = 'service'>
                <h3>Front-end development</h3>
                <p>knowledge of CSS, HTML and Javascript</p>
            </div>

            <div class = 'service'>
                <h3>Back-end development</h3>
                <p>Knowledge of python and SQL</p>
            </div>

            <div class = 'service'>
                <h3>Data analyst</h3>
                <p>Analyse data using different frameworks</p>
            </div>

        </div>

        <a href = '#work' class = 'btn'>My Work</a>
    </section>

    <section class = 'about-me' id = 'about'>

        <h2 class = 'section__title section__title--about'>Who I am?</h2>
        <p class = 'section__subtitle section__subtitle--about'>Currently a student at NUS studying Computer Science</p>

        <div class = 'about-me__body'>

            <p></p>
            <p></p>
        
        </div>

        <img src = "{% static 'earth.jpg' %}" alt = 'earth' class = 'about-me__image'>
    </section>

    <section class = 'my-work' id = 'work'>
        <h2 class = 'section__title section__title--work'>My Work</h2>
        <p class = 'section__title section__subtitle--work'>Projects I have done</p>

        <div class = 'portfolio'>
            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>

            <a href = 'portfolio' class = 'portfolio__item'>
                <img src = "{% static 'earth.jpg' %}" alt = '' class = 'portfolio__img'>
            </a>
        </div>
    </section>

    <footer class = 'footer'>
        <a href = 'mailto:anthonyhermanto1@gmail.com' class = 'footer__link'>anthonyhermanto1@gmail.com</a>
        <ul class = 'social-list'>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-instagram"></i>
            </a></li>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-linkedin"></i>
            </a></li>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-github"></i>
            </a></li>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-codepen"></i>
            </a></li>
        </ul>
    </footer>
    <script src = "{% static 'script.js' %}"></script>
</body>
</html>