{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = 'http://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'>
    <link rel = 'stylesheet' href = 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css' integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel = 'stylesheet' href = "{% static 'style.css' %}">
    <title>Portfolio page</title>
</head>
<body>
    <header>
        <div class = 'logo'>
            Aspiring Data Scientist 
        </div>
        <button class = 'nav-toggle' aria-label="toggle navigation">
            <span class = 'hamburger'></span>
        </button>
        <nav class = 'nav'>
            <ul class = 'nav__list'>
                <li class = 'nav__item'><a href = 'index3' class = 'nav__link'>Home</a></li>
                <li class = 'nav__item'><a href = 'index3' class = 'nav__link'>My Services</a></li>
                <li class = 'nav__item'><a href = 'index3' class = 'nav__link'>About Me</a></li>
                <li class = 'nav__item'><a href = 'index3' class = 'nav__link'>My Work</a></li>
            </ul>
        </nav>
    </header>


    <section class = 'intro'>
        <h1 class = 'section__title section__title--intro'>
            Title of <strong>My Project</strong>
        </h1>
        <p class = 'section__subtitle section__subtitle--intro'>
            Subtitle
        </p>
        <img src = "{% static 'earth.jpg' %}" alt = 'Picture of Anthony' class = 'intro__image'>
    </section>

    <div class = 'portfolio-item-individual'>

        <p></p>
        <img src = "{% static 'macbook2.jpg' %}" alt = ''>
        <p></p>
        <p></p>
    </div>



    <footer class = 'footer'>
        <a href = 'mailto:anthonyhermanto1@gmail.com' class = 'footer__link'>anthonyhermanto1@gmail.com</a>
        <ul class = 'social-list'>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-instagram"></i>
            </a></li>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-linkedin"></i>
            </a></li>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-github"></i>
            </a></li>
            <li class = 'social-list__item'><a class = 'social-list__link' href = ''>
                <i class="fab fa-codepen"></i>
            </a></li>
        </ul>
    </footer>
    <script src = "{% static 'script.js' %}"></script>
</body>
</html>